gpu0.json
gpu1.json
python_scripts/Offsetter/.~lock.gpu0_best_matches.csv#
python_scripts/Offsetter/test_fixed_results.json
python_scripts/Offsetter/top_matches_results_20250709_223548.json
python_scripts/Offsetter/true_temporal.log
python_scripts/Offsetter/ultimate_gpu_beast.log
python_scripts/Offsetter/simple_test_results.json
python_scripts/Offsetter/single_gpu_processor.log
python_scripts/Offsetter/optimization_run_20250712_165729.log
python_scripts/Offsetter/optimization_run_20250713_085509.log
python_scripts/Offsetter/optimized_beast.log
python_scripts/Offsetter/optimized_gpu_processor.log
python_scripts/Offsetter/out.txt
python_scripts/Offsetter/out00.txt
python_scripts/Offsetter/out01.txt
python_scripts/Offsetter/out1.txt
python_scripts/Offsetter/out3.txt
python_scripts/Offsetter/out4.txt
python_scripts/Offsetter/limit4offset.json
python_scripts/Offsetter/maximum_gpu_offsetter.log
python_scripts/Offsetter/multi_gpu_runner.log
python_scripts/Hyper/out1.txt
python_scripts/Hyper/out2.txt
python_scripts/Offsetter/beast_mode.log
python_scripts/Offsetter/beast_test_results.json
python_scripts/Offsetter/codectester.py
python_scripts/Offsetter/dual_gpu_processor.log
python_scripts/Offsetter/dual_gpu_results_20250712_003129.json
python_scripts/Offsetter/dual_gpu_results_merged.json
python_scripts/Offsetter/enhanced_360_processor.log
python_scripts/Offsetter/enhanced_360_results_20250710_085808.json
python_scripts/Offsetter/enhanced_360_results_20250710_103803.json
python_scripts/Offsetter/enhanced_360_results_20250710_142441.json
python_scripts/Offsetter/extreme_gpu_offsetter.log
python_scripts/Offsetter/fast_test_results.json
python_scripts/Offsetter/fixed_extreme_gpu_offsetter.log
python_scripts/Offsetter/fixed_offsetter.log
python_scripts/Offsetter/fixed_optimized_processor.log
python_scripts/Offsetter/forced_dual_gpu.log
python_scripts/Offsetter/gpu_enhanced_results.json

python_scripts/Visualizer/Output/
python_scripts/Visualizer/Output1/
complete_turbo_video_validation_report.json
_shellfish*
complete_turbo_360_report_ramcache*
python_scripts/Visualizer/Output
*.MP4
*.csv
__pycache__
testvideo
*.pt
dtemp_video*
gputools-env/
package-lock.json
*.pkl
python_scripts/VideoProcessingFramework/
*.deb
Installs/opencv
Installs/opencv_contrib
Installs/opencv_build/opencv
Installs/opencv_build/opencv_contrib
*.whl
*.db
